<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Sniglet" rel="stylesheet">  
    <link rel="stylesheet" href="static/home.css">
    <title>Tối nay ăn gì</title>
</head>
<body class="home">
    <div id='font'>
        <p>Hôm nay ăn gì?</p>
    </div>
    <div id="container">
        <div id="sunny">
            <a href="sunny">
                <img src="static/sunny.png" alt="sunny" width="150px" class='img'>
                <p>Nắng</p>
            </a>          

        </div>
        <div id="cool">
            <a href="cool">
                <img src="static/cool.png" alt="cool" width="150px" class='img'>
                <p>Mát</p>
            </a>
            
        </div>

        <div id="rainy">
            <a href="rainy">
                <img src="static/rainy.png" alt="rainy" width="150px" class='img'>
                <p>Mưa</p>
            </a>
        </div>

        <div id="coldy">
            <a href="coldy">
                <img src="static/coldy.png" alt="coldy" width="150px" class='img'>
                <p>Lạnh</p>
            </a>
        </div>
    </div>

    
</body>
</html>